@using DashTechCRM.Models.User
@using DashTechCRM.Models
@{
    UserObject user = new UserObject();
    dashTech_crm_Entities db = new dashTech_crm_Entities();
    int teamCount = 0, marketingCount = 0, candidateCount = 0;
    if (Session["userInfo"] != null)
    {
        user = Session["userInfo"] as UserObject;
        teamCount = db.UserAccountDetails.Where(a => a.RoleMaster.RoleTitle.Contains("Sales")).ToList().Count;
        marketingCount = db.UserAccountDetails.Where(a => a.RoleMaster.RoleTitle.Contains("Marketing") || a.RoleMaster.RoleTitle.Contains("Recruiter")).ToList().Count;
        candidateCount = db.CandidateMasters.Where(a => !a.CandidateStatus.Contains("Dropped") || !a.CandidateStatus.Contains("Deleted") || !a.CandidateStatus.Contains("Placed")).ToList().Count;
    }
}
<div class="row">
    <div class="col-sm-12">
        <div class="state-information d-none d-sm-block" style="font-size:15px">
            <div class="state-graph">
                @*<div id="header-chart-1"></div>*@
                <div class="info" style="font-size:15px">
                    <button type="button" class="btn btn-primary">
                        Total Sales Team <span class="badge badge-light">@teamCount.ToString()</span>
                    </button>
                </div>
            </div>
            <div class="state-graph">
                @*<div id="header-chart-2"></div>*@
                <div class="info" style="font-size:15px">
                    <button type="button" class="btn btn-warning">
                        Total Recruiter Team <span class="badge badge-secondary">@marketingCount.ToString()</span>
                    </button>
                </div>
            </div>
            <div class="state-graph">
                @*<div id="header-chart-2"></div>*@
                <div class="info" style="font-size:15px">
                    <button type="button" class="btn btn-danger">
                        Total Candidate <span class="badge badge-dark">@candidateCount.ToString()</span>
                    </button>
                </div>
            </div>
        </div>

        <h4 class="page-title">Dashboard</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Welcome to @user.Role Panel</li>
        </ol>

    </div>
</div>
