
<div class="logo">

    <a href="index.html" class="logo">
        @*<img src="/Content/assets/images/logo-sm-light.png" alt="" class="logo-small">
        <img src="/Content/assets/images/logo-light.png" alt="" class="logo-large">*@
        <h1 style="color:whitesmoke">
            DashTech CRM
        </h1>
    </a>

</div>