
@{ ViewBag.Title = "ManageVisaStatus";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .rowCount {
        color: #F16C69;
        font-size: large;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div style="color: #f16c69; cursor: pointer;"
                     data-toggle="collapse"
                     href="#collapseVisaStatusTitle"
                     role="button"
                     aria-expanded="true"
                     aria-controls="collapseVisaStatusTitle">
                    <i class="fa fa-filter"></i> Manage Visa Status Title
                    <i class="fa fa-plus float-right" style="color: #f16c69; cursor: pointer;"></i>
                </div>
                <hr />
                <div id="collapseVisaStatusTitle" class="collapse show">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div id="rowCount" class="rowCount"></div>
                            <div id="gridContainer"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        BindVisaStatus();
    });

    function BindVisaStatus() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("BindVisaStatus")",
            success: function(data) {
                data = JSON.parse(data);
                $("#gridContainer").dxDataGrid({
                 dataSource: data,
                    columns: [
                        { dataField: 'VisaTitle', caption: 'Visa Title', alignment: 'center', dataType: 'string', width: '400px', validationRules: [{ type: "required" }] }
                    ],
                    editing: {
                        mode: "row",
                        allowUpdating: true,
                        allowAdding: true
                    },
                    onRowInserted: function(e) {
                        delete e.data.__KEY__;
                        e.data.VisaId = 0;
                        e.data.flag = "INS";
                        param = e.data;
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: "@Url.Action("SaveorChangeVisaStatus")",
                            data: "{parameter:'" + JSON.stringify(param) + "'}",
                            success: function(data) {
                                if (data === "1") {
                                    DevExpress.ui.notify("Record Inserted Successfully Successfully ..!!", "success", 5000);
                                    BindVisaStatus();
                                }
                            }
                        });
                    },
                    onRowUpdated: function (e) {
                        param = e.data;
                        e.data.flag = "UPD";
                        debugger;
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: "@Url.Action("SaveorChangeVisaStatus")",
                            data: "{parameter:'" + JSON.stringify(param) + "'}",
                            success: function (data) {
                                if (data === "2") {
                                    DevExpress.ui.notify("Record Updated Successfully Successfully ..!!", "success", 5000);
                                    BindVisaStatus();
                                }
                            }
                        });

                    },
                 columnsAutoWidth: true,
                 wordWrapEnabled: true,
                 rowAlternationEnabled: true,
                 showBorders: true,
                 paging: { pageSize: 10 },
                 pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
                 filterRow: { visible: true, applyFilter: "auto" },
                 allowColumnResizing: true,

                 export: {
                     enabled: true,
                     fileName: "Visa Status",
                     allowExportSelectedData: true,
                     customizeExcelCell: options => {
                         if (options.gridCell.rowType === "header") {
                             options.backgroundColor = _dxGridHeaderBGColor;
                             options.font.color = _dxGridHeaderColor;
                         }
                     }
                 },
                 selection: { mode: "multiple" },
                 columnFixing: { enabled: false },

                 onExporting: function(e) {
                     e.component.beginUpdate();
                     e.component.columnOption("Button", "visible", false);
                     e.component.columnOption("CandidateStatus", "visible", false);
                 },
                 onExported: function(e) {
                     e.component.columnOption("Button", "visible", true);
                     e.component.columnOption("CandidateStatus", "visible", true);
                     e.component.endUpdate();
                 },
                 onCellPrepared: function(e) {
                     if (e.rowType === "header") {
                         e.cellElement.css("text-align", "center");
                         e.cellElement.css("font-weight", "bold");
                     }
                     if (e.rowType === "group") {
                         e.cellElement.css("text-align", "center");
                     }
                 },
                 onContentReady(e) {
                     jQuery('#rowCount').html('Total Records : ' + jQuery("#gridContainer").dxDataGrid('instance').totalCount());
                 }

                });
            }
        });

    }
</script>
