
@{ ViewBag.Title = "UserAccountDetailsGet";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .parsley-required {
        color: #dc3545;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btnAddAccountDetails">Add User</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="newDataTable" class="table table-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Rocket Name</th>
                                    <th>Email Id</th>
                                    <th>Password</th>
                                    <th>Location Name</th>
                                    <th>Role Title</th>
                                    <th>Active Status</th>
                                    <th>Last Login</th>
                                    <th>Company Name</th>
                                    <th>Joining Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalUserAccDetails" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">User Account Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" id="txtFullName" required class="form-control" />
                            <span id="reqFullName" class="parsley-required" style="display: none">Please Enter Full Name</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Rocket Name</label>
                            <input type="text" id="txtRocketName" class="form-control" />
                            <span id="reqRocketName" class="parsley-required" style="display: none">Please Enter Rocket Name</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Email-Id</label>
                            <input type="text" id="txtEmailId" class="form-control" />
                            <span id="reqEmailId" class="parsley-required" style="display: none">Please Enter Email-Id</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" id="txtPassword" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Location</label>
                            <select id="ddlLocation" class="form-control select2"></select>
                            <span id="reqLocation" class="parsley-required" style="display: none">Please Enter Location</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Role</label>
                            <select id="ddlRole" class="form-control select2"></select>
                            <span id="reqRole" class="parsley-required" style="display: none">Please Enter Role</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-4">
                                <div class="form-group">
                                    <label>Image</label>
                                    <input id="fileImage" class="form-control btn btn-primary" type="file" multiple="multiple">
                                </div>
                        </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" id="txtCompanyName" class="form-control" />
                            <span id="reqCompanyName" class="parsley-required" style="display: none">Please Enter Company Name</span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check">
                            <label class="d-block">&nbsp;</label>
                            <input class="form-check-input" type="checkbox" value="" id="chkActive">
                            <label class="form-check-label" for="chkActive">
                                Active
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="btnSave">Save</button>
                        <button class="btn btn-danger" id="btnDelete" style="display: none">Delete</button>
                        <button class="btn btn-outline-primary" id="btnReset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loadpanel"></div>
<script>
    var table = '';
    var UserAccData = '';
    var UserId = '';
    var Flag = 'INS';
    $('[data-mask]').inputmask();

    $('.select2').select2();
    var loadPanel = $(".loadpanel").dxLoadPanel({
        shadingColor: "rgba(0,0,0,0.4)",
        visible: false,
        showIndicator: true,
        showPane: true,
        shading: true,
        closeOnOutsideClick: false
    }).dxLoadPanel("instance");

    $(function () {
        getRoleMaster();
        getLocationMaster();
        GetUserAccountDetails();
    });

    function getRoleMaster() {
        loadPanel.show();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/UserAccountDetails/GetRoleMaster",
            success: function (data) {
                loadPanel.hide();
                data = JSON.parse(data);
                jQuery('#ddlRole').empty();
                jQuery('#ddlRole').append('<option value="">Select</option>');
                jQuery.each(data,
                    function (i, v) {
                        jQuery('#ddlRole').append('<option value="' + v.value + '">' + v.Text + '</option>');
                    });
            }
        });

    };
    function getLocationMaster() {
        loadPanel.show();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/UserAccountDetails/GetLocationMaster",
            success: function (data) {
                loadPanel.hide();
                data = JSON.parse(data);
                jQuery('#ddlLocation').empty();
                jQuery('#ddlLocation').append('<option value="">Select</option>');
                jQuery.each(data,
                    function (i, v) {
                        jQuery('#ddlLocation').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                    });
            }
        });
    }
    $('#newDataTable').on('click', 'tr', function () {
        UserAccData = table.row(this).data();
        $('#modalUserAccDetails').modal('show');

        $('#reqFullName').hide();
        $('#txtFullName').removeClass('parsley-error');
        $('#txtRocketName').removeClass('parsley-error');
        $('#reqRocketName').hide();
        $('#txtEmailId').removeClass('parsley-error');
        $('#reqEmailId').hide();
        $('#ddlLocation').removeClass('parsley-error');
        $('#reqLocation').hide();
        $('#ddlRole').removeClass('parsley-error');
        $('#reqRole').hide();
        $('#txtCompanyName').removeClass('parsley-error');
        $('#reqCompanyName').hide();


        $('#txtFullName').val(UserAccData.FullName);
        $('#txtRocketName').val(UserAccData.RocketName);
        $('#txtEmailId').val(UserAccData.EmailId);
        $('#txtPassword').val(UserAccData.Password);
        $('#txtCompanyName').val(UserAccData.CompanyName);
        $('#ddlLocation').val(UserAccData.RefLocationId);
        $('#ddlRole').val(UserAccData.RefRoleId);
        UserId = UserAccData.UserId;
        if (UserAccData.IsActive)
            $("#chkActive").prop('checked', true);
        else
            $("#chkActive").prop('checked', false);

        if ($('#chkActive').is(":checked"))
            Active = 1;
        else
            Active = 0;
        Flag = 'UPD';
        $('#btnSave').html('Update');
        $('#btnDelete').show();

    });
    function GetUserAccountDetails() {
        loadPanel.show();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/UserAccountDetails/GetUserAccountDetails",
            success: function (data) {
                loadPanel.hide();
                data = JSON.parse(data);
                $('#newDataTable').DataTable({
                    data: data,
                    columns: [
                        { 'data': 'FullName' },
                        { 'data': 'RocketName' },
                        { 'data': 'EmailId' },
                        { 'data': 'Password' },
                        { 'data': 'LocationName' },
                        { 'data': 'RoleTitle' },
                        { 'data': 'ActiveStatus' },
                        { 'data': 'LastLogin' },
                        { 'data': 'CompanyName' },
                        { 'data': 'JoiningDate' }
                    ]
                });
                table = $('#newDataTable').DataTable();
            }
        });

    }
    function reSet() {
        $('#txtFullName').val('');
        $('#txtRocketName').val('');
        $('#txtEmailId').val('');
        $('#txtPassword').val('');
        $('#fileImage').val('');
        $('#txtCompanyName').val('');

        getRoleMaster();
        getLocationMaster();
        Flag = 'INS';

        $('#reqFullName').hide();
        $('#txtFullName').removeClass('parsley-error');
        $('#txtRocketName').removeClass('parsley-error');
        $('#reqRocketName').hide();
        $('#txtEmailId').removeClass('parsley-error');
        $('#reqEmailId').hide();
        $('#ddlLocation').removeClass('parsley-error');
        $('#reqLocation').hide();
        $('#ddlRole').removeClass('parsley-error');
        $('#reqRole').hide();
        $('#txtCompanyName').removeClass('parsley-error');
        $('#reqCompanyName').hide();
        $('#btnSave').html('Save');
        $('#btnDelete').hide();
    }

    $('#btnSave').click(function (e) {
        var validEmail = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        var fullName = $('#txtFullName').val() ? $('#txtFullName').val() : '';
        var rocketName = $('#txtRocketName').val() ? $('#txtRocketName').val() : '';
        var emailId = $('#txtEmailId').val() ? $('#txtEmailId').val() : '';
        var password = $('#txtPassword').val() ? $('#txtPassword').val() : '';
        var imagefile = 'user.png';
        //var imagefile = $('#fileImage').prop('files');
        var companyName = $('#txtCompanyName').val() ? $('#txtCompanyName').val() : '';
        var location = $('#ddlLocation').val() ? $('#ddlLocation').val() : '';
        var role = $('#ddlRole').val() ? $('#ddlRole').val() : '';
        if ($('#chkActive').is(":checked"))
            var Active = 1;
        else
            var Active = 0;
        if (!fullName) {
            $('#txtFullName').addClass('parsley-error');
            $('#reqFullName').show();
            return false;
        } else {
            $('#reqFullName').hide();
            $('#txtFullName').removeClass('parsley-error');
        }
        if (!rocketName) {
            $('#txtRocketName').addClass('parsley-error');
            $('#reqRocketName').show();
            return false;
        } else {
            $('#txtRocketName').removeClass('parsley-error');
            $('#reqRocketName').hide();
        }
        if (!emailId || !validEmail.test(emailId)) {
            $('#txtEmailId').addClass('parsley-error');
            $('#reqEmailId').show();
            return false;
        } else {
            $('#txtEmailId').removeClass('parsley-error');
            $('#reqEmailId').hide();
        }
        if (!location) {
            $('#ddlLocation').addClass('parsley-error');
            $('#reqLocation').show();
            return false;
        } else {
            $('#ddlLocation').removeClass('parsley-error');
            $('#reqLocation').hide();
        }
        if (!role) {
            $('#ddlRole').addClass('parsley-error');
            $('#reqRole').show();
            return false;
        } else {
            $('#ddlRole').removeClass('parsley-error');
            $('#reqRole').hide();
        }
        if (!companyName) {
            $('#txtCompanyName').addClass('parsley-error');
            $('#reqCompanyName').show();
            return false;
        } else {
            $('#txtCompanyName').removeClass('parsley-error');
            $('#reqCompanyName').hide();
        }
        loadPanel.show();
        param = { fullName, rocketName, emailId, password, imagefile, companyName, location, role, Flag, Active, UserId }
        saveOrUpdate(param);
    });


    function saveOrUpdate(data) {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("UserAccountDetailsInsertUpdate")",
            data: "{parameter:'" + JSON.stringify(param) + "'}",
            success: function (data) {
                loadPanel.hide();
                if (data === '1')
                    alert('Record Updated successfully');
                else
                    alert('Record Inserted successfully , further Details have successfully send to User...!');
                reSet();
                location.reload();
            }
        });
    }

    $('#btnDelete').click(function (e) {
        param = { UserId: UserAccData.UserId };
        var result = DevExpress.ui.dialog.confirm("<i>Are you sure? </i>", "Delete this .?");
        result.done(function (dialogResult) {
            if (dialogResult) {
                loadPanel.show();
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/UserAccountDetails/UserAccountUserDelete",
                    data: "{parameter:'" + JSON.stringify(param) + "'}",
                    success: function (data) {
                        loadPanel.hide();
                        if (data === 'True')
                            alert('Record Deleted Successfully');
                        else
                            alert('Something went wrong');
                        reSet();
                        $('#modalUserAccDetails').modal('hide');
                        location.reload();
                    }
                });
            }
        });

    });


    $('#btnAddAccountDetails').click(function (e) {
        Flag = 'INS';
        UserId = '';
        $('#modalUserAccDetails').modal('show');
        reSet();
        $('#txtPassword').val('DashTech@2021');
    });
    $('#btnReset').click(function (e) {
        $('#modalUserAccDetails').modal('hide');
        reSet();
    });
</script>
