
@{ ViewBag.Title = "Interviews";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .rowCount {
        color: #F16C69;
        font-size: large;
    }

    .modal-xl {
        max-width: 1200px;
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div style="color: #f16c69; cursor: pointer;" data-toggle="collapse" href="#collapseInterviewList" role="button" aria-expanded="true" aria-controls="collapseInterviewList"> <i class="fa fa-filter"></i> Interview List   <i class="fa fa-plus float-right" style="color: #f16c69; cursor: pointer;"></i></div>
                <hr />
                <div id="collapseInterviewList" class="collapse show">
                    <div class="row">
                        <div class="col-xl-12 border-right">
                            <h4 class="mt-0 header-title mb-4">Interview List</h4>
                            <div class="rowCount" id="rowCount"></div>
                            <div id="gridList"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div style="color: #f16c69; cursor: pointer;" data-toggle="collapse" href="#collapseOldList" role="button" aria-expanded="false" aria-controls="collapseOldList"> <i class="fa fa-filter"></i> Interview List Old<i class="fa fa-plus float-right" style="color: #f16c69; cursor: pointer;"></i></div>
                <hr />
                <div id="collapseOldList" class="collapse">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="rowCount" id="rowCount1"></div>
                            <div id="gridOldList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loadpanel"></div>

<script>
    var loadPanel = $(".loadpanel").dxLoadPanel({
        shadingColor: "rgba(0,0,0,0.4)",
        visible: false,
        showIndicator: true,
        showPane: true,
        shading: true,
        closeOnOutsideClick: false
    }).dxLoadPanel("instance");

    var InterviewColumns = [
        //{ dataField: "Button", caption: "Interview", width: 100, dataType: 'string', alignment: 'center',type:'buttons',
        //    cellTemplate: function(container, options) {
        //        $("<div>").text('').on('dxclick', function() {
        //                showData(options.data.SubmissionId);
        //            })
        //            .append($("<button>", { "class": "btn btn-primary btn-sm" }).append($("<b>", { "text": "Interview" }))).appendTo(container);
        //    }
        //},
        { dataField: "CandidateName", caption: "Candidate Name", alignment: 'center', width: 180, dataType: 'string' },
        { dataField: "vendorname", caption: "Vendor", alignment: "center", width: 150, dataType: 'string' },
        { dataField: "vendorcontactnumber", caption: "Vendor Contact Number", alignment: "center", width: 150, dataType: 'string' },
        { dataField: "Date", caption: 'Submission Date', alignment: "center", width: 150, dataType: "date", format: 'dd MMM yyyy' },
        { dataField: "DateOfInterview", caption: 'Date Of Interview', alignment: "center", width: 150, dataType: "date", format: 'dd MMM yyyy' },
        { dataField: "ModeOfInterviewTitle", caption: 'Mode Of Interview Title', alignment: "center", width: 150, dataType: 'string' },
        { dataField: "RoundOfInterv", caption: "Interview Round", alignment: "center", width: 150, dataType: 'string' },
        { dataField: "InterviewSupportName", caption: "Interview Support Name", alignment: "center", width: 150, dataType: 'string' }
    ];
    $(function () {
        getRecord();
        getNewRecord();
    });

    function getRecord() {
        loadPanel.show();
        //start getting data from GetCandidateList
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetTodayInterviewList")",
            success: function (data) {
                data = JSON.parse(data);
                loadPanel.hide();
                var dataGrid = $("#gridList").dxDataGrid({
                    dataSource: data,
                    columns: InterviewColumns,
                    columnsAutoWidth: true,
                    wordWrapEnabled: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    grouping: { autoExpandAll: true },
                    paging: { pageSize: 10 },
                    pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
                    headerFilter: { visible: true },
                    filterRow: { visible: true, applyFilter: "auto" },
                    allowColumnResizing: true,
                    groupPanel: { visible: true },
                    searchPanel: { visible: true, width: 240, placeholder: "Search..." },

                    export: {
                        enabled: true,
                        fileName: "InterviewList",
                        allowExportSelectedData: true,
                        customizeExcelCell: options => {
                            if (options.gridCell.rowType === "header") {
                                options.backgroundColor = _dxGridHeaderBGColor;
                                options.font.color = _dxGridHeaderColor;
                            }
                        }
                    },
                    selection: { mode: "multiple" },
                    allowColumnReordering: true,
                    columnFixing: { enabled: false },
                    columnChooser: { enabled: true, mode: "select", allowSearch: true },
                    onExporting: function (e) {
                        e.component.beginUpdate();
                        e.component.columnOption("Button", "visible", false);
                    },
                    onExported: function (e) {
                        e.component.columnOption("Button", "visible", true);
                        e.component.endUpdate();
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType === "header") {
                            e.cellElement.css("text-align", "center");
                            e.cellElement.css("font-weight", "bold");
                        }
                        if (e.rowType === "group") {
                            e.cellElement.css("text-align", "center");
                        }
                    },
                    onContentReady(e) {
                        jQuery('#rowCount').html('Total Records : ' + jQuery("#gridList").dxDataGrid('instance').totalCount());
                    }
                }).dxDataGrid('instance');
            }
        });

        //end getting data from GetCandidateTimeLine



    }
    function getNewRecord() {
        loadPanel.show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetInterviewList")",
            success: function(data) {
                data = JSON.parse(data);
                loadPanel.hide();
                var dataGrid = $("#gridOldList").dxDataGrid({
                    dataSource: data,
                    columns: InterviewColumns,
                    columnsAutoWidth: true,
                    wordWrapEnabled: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    grouping: { autoExpandAll: true },
                    paging: { pageSize: 10 },
                    pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
                    headerFilter: { visible: true },
                    filterRow: { visible: true, applyFilter: "auto" },
                    allowColumnResizing: true,
                    groupPanel: { visible: true },
                    searchPanel: { visible: true, width: 240, placeholder: "Search..." },
                    export: {
                        enabled: true,
                        fileName: "InterviewList",
                        allowExportSelectedData: true,
                        customizeExcelCell: options => {
                            if (options.gridCell.rowType === "header") {
                                options.backgroundColor = _dxGridHeaderBGColor;
                                options.font.color = _dxGridHeaderColor;
                            }
                        }
                    },
                    selection: { mode: "multiple" },
                    allowColumnReordering: true,
                    columnFixing: { enabled: false },
                    columnChooser: { enabled: true, mode: "select", allowSearch: true },
                    onExporting: function (e) {
                        e.component.beginUpdate();
                        e.component.columnOption("Button", "visible", false);
                    },
                    onExported: function (e) {
                        e.component.columnOption("Button", "visible", true);
                        e.component.endUpdate();
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType === "header") {
                            e.cellElement.css("text-align", "center");
                            e.cellElement.css("font-weight", "bold");
                        }
                        if (e.rowType === "group") {
                            e.cellElement.css("text-align", "center");
                        }
                    },
                    onContentReady(e) {
                        jQuery('#rowCount1').html('Total Records : ' + jQuery("#gridOldList").dxDataGrid('instance').totalCount());
                    }

                }).dxDataGrid('instance');
            }
        });

    }
    function showData(aid) {
        $("#SubmissionModal").modal("show");
        alert(aid);
        $("#SId").val(aid);
    }
    $('[data-mask]').inputmask();
    $('.select2').select2();

</script>
